@page
@model ASM02_ShoppingWebsite.Pages.Auth.IndexModel
@{
    Layout = "_LayoutAuth";
}
<h1>Please log in here</h1>
<h3>Enter your detail below</h3>


<!-- Hiển thị thông báo đăng ký thành công nếu có -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<form method="post" class="m-5">
    <div class="row mb-3">
        <label for="inputEmail" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-5">
            <input type="text" name="username" class="form-control" id="inputEmail3">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword" class="col-sm-1 col-form-label">Password</label>
        <div class="col-sm-5">
            <input type="password" name="password" class="form-control" id="inputPassword3">
        </div>
    </div>
    <!-- Hiển thị thông báo lỗi tại đây -->
    <div asp-validation-summary="All" class="text-danger"></div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
